chromadb
python-dotenv
httpx
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
pypdf
sentence-transformers
tqdm
pytest
streamlit
psycopg2-binary
pgvector
openai
